
.container-fluid{
    margin: 0px;
    padding: 0px;
}
.club_wrapper{
    display: flex;
    flex-direction: row;
   
}

.club_wrapper p{
    font-weight: 200;
}
.club_wrapper img{
    width: 700px;
    height: 500px;
    padding-left: 30px;
}
.discript_text{
    margin-top: 122px;
    padding: 50px;
}