
.container-fluid{
    margin: 0px;
    padding: 0px;
}
.club_wrapper{
    display: flex;
    flex-direction: row;
   
}

.club_wrapper p{
    font-weight: 100;
}
.club_wrapper img{
    width: 700px;
    height: 500px;
    padding-left: 30px;
}
.discript_text{
    margin-top: 122px;
    padding: 50px;
}

.code_wrapper{
    margin-top: 50px;
}

.code_wrapper h1{
    text-align: center;
}

.code_wrapper img{
    border-radius: 40px;
}

.col{
    box-shadow: #f2f2f2;
    border-width: 1px;
}

.robotic_kit img{
    width: 200px;
    height: 160px;
}