/* body styling */
body{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
}
/* Application status */
.application_status{
	background-color: #87152a;
	color: #fff;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
}
.application_status h2{
	font-size: 16px;
	text-align: center;
	padding: 10px;
	font-family: "Lucida Console", Courier, monospace;

}
.navbar{
	background-color: #fff !important;
	width: 90%;
	margin: auto;
}

/* Nav Styling */
ul li{
	font-size: 24px;
	padding: 10px;
}
ul li:hover{
	opacity: 0.4;
	background-color: #f5f1f1;
	transform: scale(1.1);
	color: #000;
}
/* Header styling */
.header{
	height: 500px;
	padding: 20px;
	transition: all 0.3s ease;
}
.header h2, p{
	padding: 10px;
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
.header p{
	font-family: fangsong
}
.header h2{
	font-size: 46px;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* Navigation */
.navbar-brand img{
	width: 160px;
	height: 60px;
	border-radius: 10px;
	animation: shake 0.5s infinite alternate;
} 
.btn:hover {
	opacity: 0.4;
	background-color: #fff;
	transform: scale(1.1);
	color: #000;
}
.btn{
	align-items: center;
	background-color: #000;
	color: #000;
	font-weight: bold;
	justify-content: center;
	text-align: center;
}
/* Banner styling */
.banner{
	height: auto;
	width: 80%;
	margin: auto;    
}
.banner img{
	width: 600px;
	height: 400px;
}
/* .banner_img{
	background-image: url('../img/banner2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
} */

.banner_intro{
	font-size: 26px;
	padding-left: 10px;
}
.banner_paragraph{
	font-weight: 100;
	margin-top: -40px;
}
.learners {
	width: 170px;
	border-radius: 50px;
	background-color: hsl(349, 57%, 60%);
	color: #fff;
	font-size: 14px;
	
}

/* End of navigation */


/* Animation*/
	@keyframes shake {
	0% { transform: translateX(0); }
	25% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	75% { transform: translateX(-5px); }
	100% { transform: translateX(0); }
}

/* Partners styling	*/
.row-cols-1{
	width: 80%;
	margin: auto;
}
.partners_card h1{
	margin-top: 50px;
	text-align: center;
	color: #87152a;
}
.partners_container h1{
	margin-top: 50px;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
	color: #87152a;	
}
.partners_container{
	width: 80%;
	margin: auto;
}
.card-group h5{
	text-align: center;
	font-weight: bold;
}
.card-text{
	color: #615a5a;
	font-size: 16px;
}
.card img{
	height: 300px;
}
.section_card h1{
	margin-bottom: 20px;
	font-weight: bold;
}
/* Our courses */
 .courses_container{
	background-color: #382525;
	margin-top: 50px !important;
	height: auto;
}
.courses_column{
	border: 1px solid #87152a;
	background-color: #f5f1f1;
	font-size: 22px;
}
/* .courses_container p{
	color: #251f1f;
} */

.courses_wrapper p{
	color: #7f5f5f;
	font-size: 18px;
}

.courses_container h1{
	color: #f5f1f1;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 50px;
}
.courses_wrapper{
	width: 80%;
	margin: auto;
	
}
.courses_container h3{
	text-align: center;
	background-color: #87152a;
	color: #fff;
	padding: 10px;
}
/* .courses_container p{
	color: #2b2424;
} */
/* .web_design{
	font-size: 18px;
	
	
} */

.courses_wrapper img{
	width: 600px;
	height: 250px;
	color: #fff;
}
.book_consult{
	margin-bottom: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.book_consult h5{
	margin-bottom: 20px;
	color: #fff;
	font-weight: bold;
}
.book_consult a{
	text-decoration: none;
	background-color: #87152a;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	
}
.book_consult a:hover{
	background-color: aqua;
	color: #000;
}



.partners_container col-6{
	background-color: rgb(155, 131, 99);
}

/* End of our courses */

/*Mission Section*/
.mission_container{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.img_icon img{
	width: 100px;
	height: 100px;
}
.mission_section{
	width: 80%;
	margin: auto;
	
}
.mission_icon{
	width: 100px;
}
.mission_icon img{
	width: 100px;
	height: 100px;
}
.intro_heading {
	padding-top: 20px;
   	color: #87152a;
    padding-left: 260px;
    font-size: 30px;
	font-weight: bold;
}
/* Vision Statement Section */
.vision_container{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.vision_container img{
	margin-top: -20px;
	width: 120px;
	height: 100px;
}
.goal{
	margin-top: 100px;
	margin-bottom: 10px;
	padding-left: 280px;
	font-size: 30px;
	font-weight: bold;
	color: #87152a;
}
/* End of Vision */


/* Footer */
.footer{
	width: 100%;
	height: 400px;
	background-color: #fba03b;
	border: 5px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	margin-top: 100px;
	
}
.footer img{
	margin-top: 130px;
	width: 100%;
}
.footer h2{
    text-align: center;
    padding: 20px;
}
/* End of footer */
/* @media (max-width: 300px){
	.row-cols-1{
		display: inline;
		width: 100%;
		margin: 0px;
	}
	.banner_img{
		background-image: url('../img/banner2.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat
	}

} */
/* Media query for smaller screens */
@media (max-width: 768px) {
	/* body */
	.row-cols-1{
		display: inline;
		width: 100%;
		margin: 0px;
	}
	.header{
		width: 100%;
		text-align: left;
	}
	.navbar{
		background-color: #fff !important;
		width: 100%;
	}
	.courses_container{
		height: auto;
	}
	.courses_wrapper{
		width: 100%;
	}

	/* banner styling */
	.banner{
		height: auto;
		width: 100%;
		    
	}
	.banner img{
		width: 400px;
		height: 400px;
		margin-top: -50px;
	}
	.row{
		display: inline;
	}
	.col-6{
		width: 100%;
	}
	.courses_column img{
		width: 350px;
		height: 150px;
	}
	.intro_heading {
		padding-top: 20px;
		color: #87152a;
		padding-left: 10px;
	}
	/* Goal */
	.goal{
		padding-left: 10px;
		
	}

	/* Application status */
	.application_status{
		height: 50px;
	}
	/*Mission Section*/
	.mission_container{
		width: 100%;
		margin: 0px;
		display: flex;
		margin-top: 30px;
	}
	.img_icon img{
		width: 50px;
		height: 50px;
		
	}
	.intro_heading {
		text-align: center;
		font-size: 40px;
	}


	/* Vision Section */
	.vision_container{
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.vision_container img{
		margin-top: 10px;
		
		width: 50px;
		height: 50px;
	}
	.goal{
		margin-top: 50px;
		margin-bottom: 10px;
		text-align: center;
		font-size: 40px;
	
	}
	ul li{
		padding: 0px;
	}
	.header{
		
		transition: all 0.3s ease;
	}
	
}