

.contact_container img{
    width: 800px;
    height: 600px;
}
.contact_container .col{
    background-color: rgb(238, 233, 233);
}
.text_grid{
    margin: 50px;
}

.text_grid h2{
    font-weight: bold;
    font-size: 40px;
}
.text_grid p{
    padding-top: 50px;
    font-weight: 400;
}

.partner_option h1{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;

}

.partner_option .card-body h5{
    text-align: center;
    font-weight: bold;
}

.partner_btn{
    align-items: center;
    justify-content: center;
}

.text_grid a{
    text-align: center;
    width: auto;
	padding: 8px;
	text-decoration: none;
	border-radius: 8px;
	background-color: #a32a40;
	color: #fff;
	font-size: 18px;
}