

.contact_container img{
    width: 800px;
    height: 600px;
}
.contact_container .col{
    background-color: rgb(238, 233, 233);
}
.text_grid{
    margin: 50px;
}

.text_grid h2{
    font-weight: bold;
    font-size: 40px;
}
.text_grid p{
    padding-top: 50px;
    font-weight: 400;
}